<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.quanticol.cgp.gef.editor.CGPGraphicalEditor"
            contributorClass="eu.quanticol.cgp.gef.contributors.CGPEditorActionBarContributor"
            default="true"
            extensions="cgp"
            id="eu.quanticol.cgp.gef.editorID"
            name="CGP Graphical Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.quanticol.cgp.gef.view_category"
            name="Carma Graphical PlugIn">
      </category>
      <view
            allowMultiple="false"
            category="eu.quanticol.cgp.gef.view_category"
            class="eu.quanticol.cgp.gef.SpatialModelPrototypesView"
            id="eu.quanticol.cgp.gef.detailview"
            name="Model Prototypes"
            restorable="true">
      </view>
   </extension>

</plugin>
