<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.quanticol.cgp.gef.editor.CGPGraphicalEditor"
            default="false"
            extensions="cgp"
            id="eu.quanticol.cgp.gef.editorID"
            name="CGP Graphical Editor">
      </editor>
   </extension>

</plugin>
